<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="description" content="<%=data.others.description%>">
  <meta name="keywords" content="<%=data.others.description%>">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>
    <%=data.title%>
  </title>
  <link rel="shortcut icon" href="/images/favicon.ico" sizes="16x16">
  <link rel="canonical" href="<%=data.url%>">
  <link rel="stylesheet" href="/build/styles.css">
  <link rel="stylesheet" href="/build/main.css">
</head>

<body>
  <div id="root"><%-data.html%></div>

  <script>
    WebFontConfig = {
      google: {
        families: [
          'Work Sans:400,500,700:vietnamese',
          'Lora:400,400i,700,700i:vietnamese'
        ]
      },
    };

    (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      s.parentNode.insertBefore(wf, s);
      wf.async = true;
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
    })(document);
  </script>


  <script>
    window.__PRELOADED_STATE__ = <%-JSON.stringify(data.preloadedState).replace(/</g, '\\u003c')%>
  </script>

  <script src="/js/react.development.js"></script>
  <script src="/js/react-dom.development.js"></script>
  <script src="/build/main.bundle.js"></script>
  <%-
    data.bundles.map(function(bundle) {
      if(!bundle.file.match(/.+map$/))
        return `<script src="/build/${bundle.file}"></script>`;
      else
        return '';
    }).join('\n')
  %>
  
</body>

</html>